language: go
go:
  - 1.7
  - tip
services: docker

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y nfs-common

script:
  - pushd $HOME
  - ETCD_VER=v3.0.14
  - DOWNLOAD_URL=https://github.com/coreos/etcd/releases/download
  - curl -L ${DOWNLOAD_URL}/${ETCD_VER}/etcd-${ETCD_VER}-linux-amd64.tar.gz -o /tmp/etcd-${ETCD_VER}-linux-amd64.tar.gz
  - mkdir -p /tmp/test-etcd && tar xzvf /tmp/etcd-${ETCD_VER}-linux-amd64.tar.gz -C /tmp/test-etcd --strip-components=1
  - PATH=${PATH}:/tmp/test-etcd
  - curl -L https://storage.googleapis.com/kubernetes-release/release/v1.5.0-beta.1/kubernetes-server-linux-amd64.tar.gz | tar xz
  - curl -L https://github.com/kubernetes/kubernetes/archive/v1.5.0-beta.1.tar.gz | tar xz
  - popd
  - sudo "PATH=$PATH" KUBECTL=$HOME/kubernetes/server/bin/kubectl ALLOW_SECURITY_CONTEXT=true API_HOST_IP=0.0.0.0 $HOME/kubernetes-1.5.0-beta.1/hack/local-up-cluster.sh -o $HOME/kubernetes/server/bin &
  - KUBECTL=$HOME/kubernetes/server/bin/kubectl
  - $KUBECTL config set-cluster local --server=https://localhost:6443 --certificate-authority=/var/run/kubernetes/apiserver.crt
  - $KUBECTL config set-credentials myself --username=admin --password=admin
  - $KUBECTL config set-context local --cluster=local --user=myself
  - $KUBECTL config use-context local
  - make container
  - make test-integration
  - make test-e2e
