node.session.auth.username={{ session_auth_username }}
node.session.auth.password={{ session_auth_password }}
node.session.auth.username_in={{ session_auth_username_in }}
node.session.auth.password_in={{ session_auth_password_in }}