node.session.auth.username={{ discovery_session_auth_username }}
node.session.auth.password={{ discovery_session_auth_password }}
node.session.auth.username_in={{ discovery_session_auth_username_in }}
node.session.auth.password_in={{ discovery_session_auth_password_in }}