# See http://www.yaml.org/spec/1.2/spec.html for more on YAML.

# No default password, please pick a good one.

password: {{ targetd_password }}

# defaults below; uncomment and edit
pool_name: {{ targetd_lvm_volume_group }}
user: {{ targetd_user }}
#ssl: false
target_name: {{ targetd_iscsi_target }}
